.trainer-page__flex{
    padding-right: 90px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
/* .close{
    background: #F5F5F5;
    box-shadow: -7px -7px 24px rgba(255, 255, 255, 0.4), 7px 7px 24px rgba(182, 193, 211, 0.4);
    border-radius: 15px;
    padding: 15px;
} */
.trainer-page__information-left{
    background: #FAFAFA;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    padding-left: 24px;
    width: 379px;
    padding-top: 29px;
    padding-right: 24px;
    padding-bottom: 100px;
}
.left-flex{
    display: flex;
    flex-direction: column;
}
.align-left{
    display: flex;
    align-items: flex-start;
}
button.close {
    padding: 15px;
    background: #f5f5f5;
    box-shadow: -7px -7px 24px rgba(255, 255, 255, 0.4), 7px 7px 24px rgba(182, 193, 211, 0.4);
    border-radius: 15px;
}
.trainer__person{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid #D5D5D5;
    margin-bottom: 24px;
}
.trainer__image{
    width: 127px;
    height: 127px;
    border-radius: 50%;
    margin-bottom: 18px;
}

.status{
    margin-bottom: 21px;
    background: #BCFFB1;
    border-radius: 17.5px;
    padding: 2px 20px 4px 18px;
    display: flex;
    align-items: center;
}
.status__circle-green{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #9DFF70;
    margin-right: 7px;
}
.status__description{
    font-size: 12px;
    line-height: 15px;
}

.trainer__name{
    font-weight: bold;
    font-size: 18px;
}
.trainer__description{
    font-size: 18px;
    color: #888888;
    padding-bottom: 17px;
}

.trainer-desc__bold{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 15px;
}
.trainer-desc__normal{
    font-size: 18px;
    margin-bottom: 24px;
}

.trainer-price__info{
    background: #F5F5F5;
    box-shadow: -12px -12px 24px rgba(255, 255, 255, 0.4), 12px 12px 24px rgba(182, 193, 211, 0.4);
    border-radius: 15px;
    padding: 27px 11px 39px 32px;
    margin-bottom: 40px;
}
.social-site{
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
    padding-left: 30px;
}
.inst{
    background-image: url('../../../assets/inst-tr.png');
}
/* .phone{
    background-image: url('../../../assets/phone.png');
} */




.trainer-page__information-right{
    padding-left: 90px;
    padding-right: 90px;
}
.trainer__kredo{
    margin-top: 53px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
    background: #F5F5F5;
    box-shadow: -12px -12px 24px rgba(255, 255, 255, 0.4), 12px 12px 24px rgba(182, 193, 211, 0.4);
    border-radius: 15px;
    padding: 27px 63px 27px 48px;
}

.trainer-desc__text{
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    width: 787px;
}
.trainer__about{
    margin-top: 43px;
    margin-bottom: 41px;
}

.train-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
}
.train-list__item-page{
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 45px;
    /* padding: 16px; */
    background-color: #fff;
    width: 139px;
    height: 171px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.train__img-page{
    border-radius: 26px;
    margin: 0 auto;
}
.train__heading-page{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    padding: 0 16px 16px 16px;

}
.trainer__contacts{
    padding-bottom: 80px;
}



.sertificates{
    margin-top: 45px;
}
.sertificates__list{
    margin-top: 36px;
    display: flex;
    align-items: center;
}
.serteficates__list-item:not(:last-child) {
    margin-right: 11px;
}

.education{
    margin-top: 31px;
}
.education__list{
    margin-top: 22px;
}
.education__list-item{
    padding-bottom: 28px;
    padding-left: 40px;
    background-image: url('../../../assets/tick.png');
    background-repeat: no-repeat;
    background-position: left -20px top -15px;
}


@media (max-width: 1182px) {
    .trainer-page__flex{  
        flex-direction: column;
        align-items: center;
    }
    .trainer-page__information-right{
        padding: 0;
    }
}
@media (max-width: 898px){
    .sertificates__list{
        flex-wrap: wrap;
        justify-content: center;

    }
    .train-list{
        flex-wrap: wrap;
    }
    .train-list__item-page{
        margin-top: 20px;
    }
    .trainer-desc__text{
        width: auto;
    }
}

@media (max-width: 390px){
    .train-list, .sertificates__list{
        justify-content: center;
    }
    .trainer-desc__text,
    .trainer-desc__normal{
        font-size: 14px;
    }
    .trainer__kredo {
        font-size: 14px;
        padding: 9px 22px;
    }
    .serteficates__list-item:not(:last-child){
        margin-right: 0;
    }
}