.footer{
    background: #F6F6F6;
    padding-top: 95px;
    padding-bottom: 95px;
}
.footer__title{
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    color: #353535;
}
.social-sites__list{
    margin-top: 36px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.social-list__item{
    margin-bottom: 33px;
}
.social__link{
    color: #353535;
    margin-left: 21px;
}
.policy, .policy a{
    color: #1c1c1c;
}
@media (max-width: 768px){
    .footer__title{
        font-size: 18px;
    }
    .social__link img{
        width: 30px;
        height: 30px;
    }
    .social-sites__list{
        margin-top: 20px;
    }
}