.apply-flex{
    display: flex;
    align-items: center;
    padding-top: 48px;
    justify-content: space-between;
    /* position: relative; */
}
.apply-bg{
    background: #F4F4F4;
    background-image: url('../../../assets/ball.png');
    background-repeat: no-repeat;
    background-position: bottom -90px left -30px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.signup{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sign-up__input{
    margin-bottom: 32px;
    background: #F4F4F4;
    box-shadow: inset -8px -8px 16px #FFFFFF, inset 8px 8px 16px #D3D8E1;
    border-radius: 136px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 69px;
    width: 564px;
    font-size: 24px;
    line-height: 29px;
    color: #DDDDDD;
    border: none;
}
.signup-btn{
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    background: linear-gradient(95.6deg, #8DE885 14.17%, rgba(109, 255, 106, 0) 80.27%), #6ED98B;
    box-shadow: 0px 7px 35px #77DB81;
    border-radius: 110px;
    padding: 21px 60px;
    border: none;
    width: 266px;
}
.signup__img{
    width: 600px;
}
.popup-image{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.close-popup{
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
}