.lp-body{
    background-color: #f4f4f4;
    padding: 100px 80px 100px 80px;
}
h3{
    margin-top: 10px;
}

@media (max-width: 398px){
    .lp-body{
        padding: 40px;
    }
    h1{
        font-size: 30px;
    }
}